.sources {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    overflow: auto;
    font-size: 24px;
    overflow-x: hidden;
    font: 300 100% 'Fira Sans', sans-serif;
    max-height: 70vh;
    padding-right: 1vw;
    margin-bottom: 35px;
}

@media (max-width: 600px) {
    .sources {
        max-height: 80vh;
    }
}

.source__item {
    display: block;
    background: none;
    border: 2px solid #30c5ff;
    line-height: 1;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    flex-grow: 1;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    display: block;
    width: 100%;
    white-space: nowrap;
}
