@media (min-width: 1024px) {
    body .app {
        flex-direction: row;
    }

    body .app__footer,
    body .app__header {
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        width: auto;

    }

    body #header-btns-wrapper {
        flex-direction: column;
        gap: 25px;
        text-align-last: left;
    }

    body #choose-game-btn::after,
    body #random-game-btn::after,
    body #high-score-btn::after,
    body #sound-control-btn::after {
        bottom: 9px;
        left: -100px;
    }

    body #random-game-btn::after {
        left: -106px;
    }

    body #save-game-btn::after,
    body #continue-game-btn::after,
    body #reset-game-btn::after,
    body #show-solution-btn::after {
        bottom: 9px;
        right: -160px;
        left: 0;
    }

    body #save-game-btn::after {
        right: -137px;
    }

    body #reset-game-btn::after {
        right: -143px;
    }

}

@media (max-width: 1023px) {
    body .app {
        width: 100vw;
    }

    #game-field-wapper .app__game-field_5x5 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .cell {
        height: clamp(4.375rem, 3.205rem + 3.75vw, 5rem);
        width: clamp(4.375rem, 3.205rem + 3.75vw, 5rem);
        font-size: 28px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-vert .clue {
        height: 40px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-hor .clue {
        width: 35px;
    }


    #game-field-wapper .app__game-field_10x10 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .cell {
        height: clamp(2.25rem, 0.846rem + 4.49vw, 3rem);
        width: clamp(2.25rem, 0.846rem + 4.49vw, 3rem);
        font-size: 22px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-vert .clue {
        height: 30px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-hor .clue {
        width: 25px;
    }

    #game-field-wapper .app__game-field_10x10 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .cell {
        height: clamp(1.25rem, 0.314rem + 3vw, 1.75rem);
        width: clamp(1.25rem, 0.314rem + 3vw, 1.75rem);
        font-size: clamp(0.875rem, 0.407rem + 1.5vw, 1.125rem);
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-vert .clue {
        height: 25px
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-hor .clue {
        width: 20px;
    }
}


@media (max-width: 767px) {

    #game-field-wapper .app__game-field_5x5 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .cell {
        height: clamp(4.375rem, 3.205rem + 3.75vw, 5rem);
        width: clamp(4.375rem, 3.205rem + 3.75vw, 5rem);
        font-size: 28px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-vert .clue {
        height: 40px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-hor .clue {
        width: 35px;
    }


    #game-field-wapper .app__game-field_10x10 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .cell {
        height: clamp(2.25rem, 0.846rem + 4.49vw, 3rem);
        width: clamp(2.25rem, 0.846rem + 4.49vw, 3rem);
        font-size: 22px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-vert .clue {
        height: 30px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-hor .clue {
        width: 25px;
    }

    #game-field-wapper .app__game-field_10x10 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .cell {
        height: clamp(1.25rem, 0.314rem + 3vw, 1.75rem);
        width: clamp(1.25rem, 0.314rem + 3vw, 1.75rem);
        font-size: clamp(0.875rem, 0.407rem + 1.5vw, 1.125rem);
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-vert .clue {
        height: 25px
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-hor .clue {
        width: 20px;
    }
}


@media (max-width: 499px) {

    #game-field-wapper .app__game-field_5x5 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .cell {
        height: clamp(2.75rem, 0.962rem + 8.94vw, 3.75rem);
        width: clamp(2.75rem, 0.962rem + 8.94vw, 3.75rem);
        font-size: 24px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-vert .clue {
        height: 25px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_5x5) .clues-row-hor .clue {
        width: 20px;
    }


    #game-field-wapper .app__game-field_10x10 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .cell {
        height: clamp(1.313rem, -0.475rem + 8.94vw, 2.313rem);
        width: clamp(1.313rem, -0.475rem + 8.94vw, 2.313rem);
        font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-vert .clue {
        height: 25px;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_10x10) .clues-row-hor .clue {
        width: 20px;
    }

    #game-field-wapper .app__game-field_10x10 .cell,
    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clue,
    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .cell {
        height: clamp(0.938rem, -0.18rem + 5.59vw, 1.563rem);
        width: clamp(0.938rem, -0.18rem + 5.59vw, 1.563rem);
        font-size: clamp(0.688rem, 0.563rem + 0.63vw, 1.125rem);
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-vert {
        height: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-hor {
        width: auto;
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-vert .clue {
        height: clamp(0.625rem, 0.357rem + 1.34vw, 1.563rem)
    }

    #game-field-wapper:has(#inner-wrapper .app__game-field_15x15) .clues-row-hor .clue {
        width: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem)
    }
}