@media (max-width: 600px) {
    body .app {
        margin: 5px auto;
        width: 95vw;
    }

    #game-field-wapper .cell,
    #game-field-wapper .clue {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    #game-field-wapper .clues-row-vert {
        height: auto;
    }
    #game-field-wapper .clues-row-hor {
        width: auto;
    }
    #game-field-wapper .clues-row-hor .clue {
        width: 10px;
    }
    .cell.border-right {
        border-right: none;
        margin-right: 1px;
    }
    .cell.border-bottom {
        border-bottom: none;
        margin-bottom: 1px;
    }

    #vertical-clues-wrapper .border-right-clue {
        margin-right: 1px;
    }
}
