@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap');

:root {
    --win-text: #106d10;
    --black-cell: #2b2b2b;
    --button-background: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 18px;
    transition: background 0.3s;
    background: url('../img/bg.jpg') center center/cover no-repeat;
    min-height: 100dvh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 250px;
    max-width: 1920px;
    gap: 35px;
}

.app__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.app__header {
    flex-direction: column;
    gap: 25px;
}

#game-info-wrapper {
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 25px;
}

#header-btns-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app__game-field {
    display: grid;
    background: black;
}

.app__game-field_5x5 {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

.app__game-field_10x10 {
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

.app__game-field_15x15 {
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(15, auto);
}

.cell {
    width: 36px;
    height: 36px;
    border: 1px solid #d4d4d4;
    background: #ffffff;
}

.button {
    cursor: pointer;
    background: #ffffff;
    min-height: 30px;
    width: clamp(3.125rem, 1.307rem + 9.09vw, 8.125rem);
    border-radius: 6px;
    font-family: Roboto;
    transition: all 0.5s ease-out;
    font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}

.button-switcher {
    position: relative;
    height: 20px;
    width: 40px;
    overflow: hidden;
    min-height: auto;
}

#change-theme-btn:has(.switched) {
    background: var(--button-background);
}

.app__header .button-switcher:active,
.app__header .button-switcher:hover {
    background: none;
    outline: none;
}

.button__slider {
    height: 100%;
    width: 60%;
    background: var(--black-cell);
    position: relative;
    top: 0;
    left: -5px;
    border-radius: 5px;
    transition: all 0.5s;
}

.button__slider.switched {
    left: 100%;
    transform: translateX(-95%);
}

.button:disabled {
    cursor: default;
}

#vertical-clues,
#horizontal-clues {
    display: flex;
    background: #000000;
}

#vertical-clues {
    justify-content: flex-end;
    background: #ffffff;
}

#vertical-clues-wrapper {
    display: flex;
    border-bottom: 3px solid #000000;
    background: #000000;
}

#horizontal-clues {
    flex-direction: column;
    border-right: 3px solid #000000;
}

#inner-wrapper {
    display: flex;
}

.clue {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}

.clues-row-vert {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.clues-row-hor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

.border-bottom {
    margin-bottom: 3px;
}

.border-right {
    margin-right: 3px;
}

.border-right-clue {
    margin-right: 3px;
}

#space-fill {
    background: #ffffff;
    width: 100%;
    border: 1px solid #d4d4d4;
}

.picked {
    background: var(--black-cell);
}

.crossed {
    position: relative;
}

.crossed::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000000;
    top: 50%;
    transform: rotate(45deg);
}

.crossed::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000000;
    top: 50%;
    transform: rotate(-45deg);
}

.info-box {
    text-align: center;
    font-weight: 700;
}

#time-info {
    text-align: center;
}

#win-modal {
    display: block;
    height: min-content;
    text-align: center;
    color: var(--win-text);
}

#random-game-btn {
    font-size: 16px;
    height: 40px;
    width: 160px;
    margin-top: 5px;
}

.score-table {
    display: flex;
    width: 100%;
    height: 100dvh;
    background: #ffffff;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.score-table__btn {
    width: 180px;
    height: 40px;
    font-size: 20px;
}

.score-table__item-wrapper {
    padding: 0 15px;
}

.score-table__item {
    margin-top: 15px;
}

.levels-window.hidden,
.app.hidden {
    display: none;
}

.levels-window {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    position: absolute;
    top: 5px;
    width: 100%;
    height: 100dvh;
    background-color: #ffffff;
}

.levels-window__button {
    margin: 0 auto;
    margin-bottom: 25px;
    min-width: 150px;
    font-size: 22px;
}

.levels-window__header {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 15px;
}

.levels-window__card {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 0;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.levels-window__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 10px;
    justify-content: center;
}

.levels-window__card-descr {
    text-align: center;
    font-size: 20px;
}

.levels-window__card-level.Easy {
    color: #106d10;
}

.levels-window__card-level.Medium {
    color: #9c8e12;
}

.levels-window__card-level.Hard {
    color: #8f1d09;
}

#sound-control-btn {
    background: url('../img/speaker.png') center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

#sound-control-btn.sound-off {
    background: url('../img/speaker-off.png') center center/contain no-repeat;
}

#high-score-btn {
    background: url('../img/score-table.png') center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

#random-game-btn {
    background: url('../img/random-game.png') center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

#choose-game-btn {
    background: url('../img/choose-game.png') center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

#save-game-btn {
    background: url('../img/save.png') center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

#continue-game-btn {
    background: url('../img/continue.png') center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

#reset-game-btn {
    background: url('../img/reset.png') center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

#show-solution-btn {
    background: url('../img/solution.png') center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

#choose-game-btn:disabled,
#random-game-btn:disabled,
#high-score-btn:disabled,
#sound-control-btn:disabled,
#sound-control-btn.sound-off:disabled,
#save-game-btn:disabled,
#continue-game-btn:disabled,
#reset-game-btn:disabled,
#show-solution-btn:disabled {
    filter: opacity(0.5)
}

#modal-win-random-btn {
    margin-top: 5px;
    width: auto;
    padding: 0 10px;
    font-size: 16px;
    height: 40px;
}

#play-ground {
    width: min-content;
    margin: 5px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000005d;
    margin-bottom: 10px;
}

.header__wrapper {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding: 5px 25px;
    align-items: center;
    justify-content: space-between;
    color:#ffffff;
}


@media (hover: hover) {

    #choose-game-btn:hover,
    #random-game-btn:hover,
    #high-score-btn:hover,
    #sound-control-btn:hover,
    #sound-control-btn.sound-off:hover,
    #save-game-btn:hover,
    #continue-game-btn:hover,
    #reset-game-btn:hover,
    #show-solution-btn:hover {
        filter: drop-shadow(0px 0px 5px #c2c2c2)
    }

    .button:disabled:hover {
        background-color: #ffffff;
    }

    .levels-window__card:has(.Easy):hover {
        background-color: #106d103d;
    }

    .levels-window__card:has(.Medium):hover {
        background-color: #9c8e1263;
    }

    .levels-window__card:has(.Hard):hover {
        background-color: #8f1d0952;
    }
}


@import url('media.css');
@import url('dark-theme.css');