@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 40px;
    }

    .header_nav, .menu_button {
        display: none;
    }

    .menu_button_touch {
        display: flex;
    }

    .enjoy {
        padding: 100px 60px;
        background-size: 1245px auto;
    }

    .about_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 590px;
        grid-template-areas: unset;
    }

    #about2, #about3 {
        display: none;
    }

    #about1, #about4 {
        grid-area: unset;
    }

    .mobile_app .wrapper {
        flex-direction: column;
        gap: 100px;
    }

    .mobile_app_photo {
        width: 92%;
    }
    .mobile_app_descr {
        width: unset;
    }

    .button_mobile_app {
        font-size: clamp(8px, 2vw, 10px);
    }
    span.strong {
        font-size: clamp(12px, 2.5vw, 16px);
    }

    footer .container {
        flex-direction: column;
        gap: 100px;
        width: calc(100vw - 80px);
        padding: clamp(3.75rem, -5.179rem + 23.81vw, 6.25rem) clamp(1rem, -8.821rem + 26.19vw, 3.75rem);
    }

    .footer_right {
        display: block;
        margin-bottom: 4px;
    }

    .menu h1 {
        width: auto;
    }

      
    footer .footer_on_menu {
        margin-top: 100px;
    }

    h2, h2 span {
        font-size: clamp(2rem, -4.25rem + 16.67vw, 3.75rem);
    }

    h1, .enjoy_descr {
        width: auto;
    }

    h1 {
        font-size: clamp(2.625rem, -4.071rem + 17.86vw, 4.5rem);
    }

    .slider_content img {
        width: clamp(21.75rem, -7.94rem + 79.04vw, 30rem);
        height: clamp(21.75rem, -7.94rem + 79.04vw, 30rem);
    }
    
    .slider_item_descr {
        width: clamp(21.75rem, -7.94rem + 79.04vw, 30rem);
    }
}

@media (min-width: 769px) {
    h2 {
        font-size: clamp(2.5rem, 1.067rem + 2.98vw, 3.75rem) ;
    }

    h2 span {
        font-size: clamp(2.813rem, 1.738rem + 2.24vw, 3.75rem) ;
    }

    footer .container {
        gap: clamp(1.25rem, -6.987rem + 17.14vw, 8.438rem);
    }

    .about img {
        width: clamp(36.875rem, 27.134rem + 20.27vw, 45.375rem);
        height: clamp(36.875rem, 27.134rem + 20.27vw, 45.375rem);
    }

}

