.message {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'A A'
        'B B'
        'C D';
    background: var(--message);
    width: 60%;
    padding: 5px 10px;
    row-gap: 5px;
    column-gap: 10px;
    border-radius: 9px;
    justify-self: start;
    color: #000000;

    &__content {
        grid-area: B;
        overflow-wrap: break-word;
    }

    &__deliv-status {
        grid-area: C;
        display: none;
    }

    &__edit-status {
        grid-area: A;
        font-style: italic;
    }

    &__time {
        grid-area: D;
    }

    &__deliv-status,
    &__edit-status,
    &__time {
        font-size: 10px;
        text-align: right;
        color: #282828;
    }
}

.own-message {
    background: var(--own-message);
    justify-self: end;
    .message__deliv-status {
        display: block;
    }
}
