.statistic-btn {
    padding: 5px;
}

.statistic-board {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px 0 20px 0;
    background: rgba(255, 255, 255, 0.3);

    &__known-section,
    &__unknown-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 90%;
        font-size: 22px;
    }
    &__card {
        display: grid;
        margin: 0 auto;
        padding: 5px 8px;
        width: 90%;
        max-width: 1000px;
        text-align-last: left;
        font-size: 18px;
        border-radius: 8px;
        grid-template-areas:
            'A C'
            'B C';
        grid-template-columns: 90% 10%;
        background: #ffffffb3;
    }
    &__eng-sent {
        grid-area: A;
        font-weight: 600;
    }
    &__rus-sent {
        grid-area: B;
        padding-top: 3px;
        font-style: italic;
        font-size: 14px;
    }

    &__audio-btn {
        grid-area: C;
        align-self: center;
        justify-self: flex-end;
    }

    &__img {
        width: 80%;
        max-width: 800px;
        height: auto;
        border: 5px solid #ffffff;
    }

    &__img-descr {
        font-style: italic;
    }
}

.unknown-card {
    border: 2px solid rgb(255, 0, 0);
}

.known-card {
    border: 2px solid rgb(8, 112, 1);
}

.all-unknown {
    color: rgb(205, 8, 8);
}

.all-known {
    color: rgb(15, 88, 11);
}
