@import url('../sass/colorsVar.scss');
// * {
//     outline: 1px solid red;
// }
.levels-board {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 93vh;
    padding: 10px 0 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #000000;
    background: rgba(255, 255, 255, 0.4);
    z-index: 100;
    &__title {
        text-align: center;
    }

    &__btn-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 25px;
        background: rgba(255, 255, 255, 0.4);
    }

    &__list-wrapper {
        min-height: 70dvh;
        overflow: auto;
    }

    &__level-list {
        padding: 5px 15px;
        display: grid;
        width: 90vw;
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, 200px);
        justify-content: center;
        gap: 10px;
        background: rgba(255, 255, 255, 0.9);
    }

    &__close-btn {
        position: absolute;
        right: 40px;
        top: 60px;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: url(../img/close.svg);
        background-size: contain;
        transition: all 0.6s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__level-btn {
        position: relative;
        width: 70px;
        font-size: 16px;
        padding: 5px;
        cursor: pointer;
        transition: all 0.6s;
        filter: drop-shadow(2px 2px 2px rgb(137, 137, 137));

        &.selected {
            cursor: auto;
            background: rgb(219, 219, 219);
            transform: translateY(-10px);
            filter: drop-shadow(0px 3px 3px rgb(0, 0, 0));
            &:hover {
                background: rgb(219, 219, 219);
            }
        }
    }
}

.levels-list {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        padding: 5px 5px;
        border: 1px solid #6a6a6a;
        border-radius: 4px;
        font-size: 14px;
        font-style: italic;
        user-select: none;
        text-align: center;
        cursor: pointer;

        &-img {
            height: auto;
            width: 170px;
            filter: blur(2px) saturate(0);
            transition: all 0.6s;
        }

        &.complited {
            outline: 2px solid green;
            background-color: #d4ffd7;
            .levels-list__item-img {
                filter: none;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .levels-list__item:hover .levels-list__item-img {
        transform: scale(1.03);
    }
}

.list-item__img-wrapper {
    height: 96px;
    width: 170px;
    background: url('../img/loading.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.levels-board__level-list[data-level='1'] .levels-list__item:hover {
    outline: 2px solid var(--color-level-1);
}

.levels-board__level-list[data-level='2'] .levels-list__item:hover {
    outline: 2px solid var(--color-level-2);
}

.levels-board__level-list[data-level='3'] .levels-list__item:hover {
    outline: 2px solid var(--color-level-3);
}

.levels-board__level-list[data-level='4'] .levels-list__item:hover {
    outline: 2px solid var(--color-level-4);
}

.levels-board__level-list[data-level='5'] .levels-list__item:hover {
    outline: 2px solid var(--color-level-5);
}

.levels-board__level-list[data-level='6'] .levels-list__item:hover {
    outline: 2px solid var(--color-level-6);
}

#Level-1 {
    color: var(--color-level-1);
}
#Level-2 {
    color: var(--color-level-2);
}
#Level-3 {
    color: var(--color-level-3);
}
#Level-4 {
    color: var(--color-level-4);
}
#Level-5 {
    color: var(--color-level-5);
}
#Level-6 {
    color: var(--color-level-6);
}
