* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 0 auto;
    padding: 40px 0;
    width: 900px;
}

.letter-button {
    display: block;
    height: 40px;
    width: 40px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(164, 76, 30);
    color: #ffffff;
    border-radius: 7px;
}
.letter-button:disabled {
    background-color: rgb(158, 158, 158);
}
.key-board {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(8px*9 + 9*40px);
    gap: 8px;
}

.text-area {
    margin: 0 auto;
    width: calc(8px*9 + 9*40px);
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

.word-line {
    display: flex;
    margin: 0 auto;
    width: calc(8px*9 + 9*40px);
    justify-content: center;
    font-weight: 800;
    gap: 15px
}

.game-stat {
    text-decoration: underline;
    font-weight: 600;
    color: #6d3c04
}

.modal {
    position: absolute;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    outline: 1px solid #000000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 36px;
    z-index: 10;
    border-radius: 25px;
    opacity: 0;
    transition: all 0.5s;
}

.modal_lose {
    color: #850707;
}

.modal_win {
    color: #057722;
}

.answer-box {
    font-size: 30px;
    text-align: center;
}

.answer-box span {
    display: block;
    font-weight: 800;
    text-decoration: underline;
}

.btn-play-again {
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100dvh;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}

.modal_visible,
.overlay_visible {
    opacity: 1;
}

body {
    width: 100vw;
    height: 100vh;
}

.gallow-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
    width: 100%
}

#the-man-container {
    position: absolute;
    width: 320px;
    height: 320px;
}

.gallow {
    height: 100%;
}

.the-man {
    height: 25%;
    position: absolute;
}

#body-part-1 {
    top: 9.75%;
    left: 45%;
}

#body-part-2 {
    top: 27%;
    left: 44%;
}

#body-part-3 {
    top: 29%;
    left: 38%;
    height: 14.5%;
}

#body-part-4 {
    top: 30.25%;
    left: 57.7%;
    height: 12.5%;
}

#body-part-5 {
    top: 50.4%;
    left: 41.1%;
    height: 21%;
}

#body-part-6 {
    top: 51%;
    left: 52%;
    height: 20%;
}


@media (max-width: 900px) {

    .main,
    .modal {
        width: 90vw;
    }

    .text-area {
        width: 100%;
    }

    .key-board {
        width: 100%;
        max-width: 432px;
    }

    .word-line {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .main {
        width: 100vw;
        padding: 5px;
    }
    
    .gallow-container {
        height: 250px;
    }

    .text-area {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 5px;
    }

    .key-board {
        gap: 5px;
    }

    #the-man-container {
        width: 200px;
        height: 200px;
    }
}