* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 0 auto;
    padding: 40px 0;
    margin-bottom: 25px;
    width: 900px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 5px -5px 20px #000000;
    transition: transform 0.4s;
}

.letter-button {
    display: block;
    height: 40px;
    width: 40px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 5px #000000;
    background: rgb(164, 76, 30);
    color: #ffffff;
    border-radius: 7px;
    transition: background 0.3s;
}

.letter-button:disabled {
    background: rgb(158, 158, 158);
    cursor: default;
    box-shadow: none;
}

.key-board {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(8px*9 + 9*40px);
    gap: 8px;
}

.text-area {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

.question-line {
    margin: 0 auto;
    width: 90%;
}

.word-line {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    gap: 10px;
    flex-wrap: wrap;
}

.game-stat {
    text-decoration: underline;
    font-weight: 600;
    color: #6d3c04
}

.modal {
    position: absolute;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 90vh;
    min-height: 300px;
    outline: 1px solid #000000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 36px;
    z-index: 10;
    border-radius: 25px;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0);
    transition: opacity 0.5s, transform 0.6s;
}

.modal_lose {
    color: #850707;
}

.modal_win {
    color: #057722;
}

.hidden {
    transform: scale(0);
}

.answer-box {
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.answer-box span {
    display: block;
    font-weight: 800;
    text-decoration: underline;
}

.btn-play-again {
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 5px #000000;
    background: rgb(164, 76, 30);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    transition: background 0.3s;
}

.btn-play-again:focus,
.letter-button:focus {
    border: solid 3px rgb(233, 107, 40);
    outline: none;
}

.overlay {
    width: 100%;
    height: 100%;
    min-height: 300px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.modal_visible {
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.modal_visible,
.overlay_visible {
    opacity: 1;
}

body {
    width: 100vw;
    height: 100%;
    background: url('../img/bg.jpg') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallow-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
    width: 100%
}

#the-man-container {
    position: absolute;
    width: 320px;
    height: 320px;
}

.gallow {
    height: 100%;
}

.the-man {
    height: 25%;
    position: absolute;
    opacity: 0;
    transition: all 0.8s;
}

.the-man_shown {
    opacity: 1;
}

#body-part-1 {
    top: 9.75%;
    left: 45%;
}

#body-part-2 {
    top: 27%;
    left: 43.5%;
}

#body-part-3 {
    top: 29%;
    left: 38%;
    height: 14.5%;
}

#body-part-4 {
    top: 30.25%;
    left: 57.5%;
    height: 12.5%;
}

#body-part-5 {
    top: 50.4%;
    left: 40.7%;
    height: 21%;
}

#body-part-6 {
    top: 51%;
    left: 51.5%;
    height: 20%;
}


@media (max-width: 900px) {

    body,
    .overlay {
        min-height: 100vh;
    }

    .main,
    .modal {
        width: 90vw;
    }

    .text-area {
        width: 100%;
    }

    .key-board {
        width: 100%;
        max-width: 432px;
    }

    .word-line {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .main {
        width: 98vw;
        padding: 15px 5px;
    }

    .gallow-container {
        height: 250px;
    }

    .text-area {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 5px;
    }

    .key-board {
        gap: 10px;
    }

    #the-man-container {
        width: 200px;
        height: 200px;
    }

    .modal {
        padding: 10px;
    }

    .answer-word {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    .answer-word {
        font-size: 20px;
    }
}

@media (hover: hover) {

    .letter-button:hover,
    .btn-play-again:hover {
        background: rgb(233, 107, 40);
    }

    .letter-button:disabled:hover {
        background: rgb(158, 158, 158);
    }
}