.header {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    flex-direction: row-reverse;
    height: 7vh;
    min-height: 30px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}
