.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 15px;
    gap: 15px;
    border: 1px solid #000000;
    border-radius: 6px;
    margin: 0 auto;
    width: 80vw;
    max-width: 440px;
    background: #ffffff;
    filter: drop-shadow(3px 3px 4px #858585);
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 90%;
        height: 1px;
        background: #000000;
        bottom: 50px;
    }

    &__label {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 22px;
        font-weight: 600;
    }

    &__input {
        padding: 0 5px;
        width: 90%;
        height: 36px;
        border: 2px solid #6b6b6b;
        border-radius: 6px;
        outline: none;
        &:focus {
            border: 2px solid #8383dd;
            &.valid {
                border: 2px solid var(--valid);
            }
            &.invalid {
                border: 2px solid var(--error);
            }
        }
    }

    .about-btn {
        margin-top: 40px;
        font-size: 15px;
        cursor: pointer;
        filter: none;
        color: #ffffff;
        width: 20%;
        padding: 5px;
        background: var(--accent);
        transition: all 0.4s;
    }
}

.valid {
    border: 2px solid var(--valid);
}

.invalid {
    border: 2px solid var(--error);
}

.validation-msg,
.error-msg {
    font-size: 14px;
    color: var(--error);
    text-align: center;
    &::first-letter {
        text-transform: capitalize;
    }
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-btn {
    padding: 5px 15px;
    font-size: 24px;
    background: var(--accent);
}

@media (hover: hover) and (pointer: fine) {
    .login-form .about-btn:hover {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .login-form {
        gap: 25px;
    }
}
