.login-form {
    display: flex;
    margin: 0 auto;
    padding: 40px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    border: 1px solid black;
    border-radius: 26px;
    width: 80vw;
    max-width: 600px;
    height: min-content;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);

    &__label {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 5px;
    }

    &__label,
    &__submit-btn {
        width: 80%;
        font-size: 24px;
    }

    &__input,
    &__submit-btn {
        padding: 0 8px;
        border: 1px solid #011a3b;
        border-radius: 7px;
        background: #fdfdf2;
        height: 45px;
        font-size: 24px;
    }

    &__input:focus {
        outline: 2px solid #0b58bc;;
    }

    &__submit-btn {
        background: rgba(255, 255, 255, 1);
        color: #011a3b;
        cursor: pointer;
        transition: all 0.6s;
        &:hover {
            background: #011a3b;
            color: #ffffff;
        }
        &:disabled {
            background: #474747;
            color: #ffffff;
            cursor: default;
            &:hover {
                background: #474747;
            }
        }
    }

    &__validation-message {
        position: relative;
        z-index: -1;
        margin: 0;
        padding: 0 6px;
        font-size: 18px;
        color: #780e0e;
        top: 0px;
        transition: top 0.6s;
        backdrop-filter: blur(5px);
    }
}

.input-error {
    position: relative;
    border: 2px solid #db1b1b;
}

.input-accepted {
    border: 2px solid #45db1b;
}

.moved-out {
    position: relative;
    top: -30px;
    user-select: none;
    opacity: 0;
}

.error-icon {
    position: absolute;
    top: 10px;
    right: 5px;
    background: url('../img/error.svg');
    width: 26px;
    height: 26px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}
