.dialog-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 44px 1fr 100px;
    border: 1px solid black;
    padding: 10px;

    &__header {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-radius: 6px;

        .contact {
            pointer-events: none;
        }
    }

    &__msg-area {
        display: grid;
        grid-template-rows: 1fr;
        gap: 5px;
        padding: 5px;
        align-items: end;
        grid-auto-rows: min-content;
        color: #4c4c4c;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        overflow-y: scroll;
    }

    &__input-wrapper {
        display: flex;
        padding: 0 5px;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }

    &__input-field {
        resize: none;
        flex-grow: 1;
        font-size: 14px;
        height: 80%;
        padding: 5px;
        border-radius: 6px;
    }
}

.send-btn {
    height: 40px;
    filter: none;
    background: var(--valid);
}
