.game-board {
    height: 93vh;
    &__result-block,
    &__source-block {
        height: 250px;
        border: 1px solid black;
    }
    &__result-block,
    &__source-block {
        display: flex;
        width: 100%;
    }

    &__result-block {
        flex-direction: column;
        height: 500px;
    }

    &__source-block {
        height: 50px;
    }

    &__next-btn {
        padding: 5px;
        background: #173c64;
        transition: all 0.6s;
    }
}
.puzzle-piece {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    border: 1px solid rgb(87, 62, 232);
    background: #ffffff;
    height: 40px;
    width: min-content;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin-right: 3px;
    cursor: pointer;
    transition:
        top 0.6s,
        scale 0.6s,
        opacity 0.6s;
    // flex-grow: 1;
    animation-name: show;
    animation-duration: 0.6s;
    user-select: none;
}

.puzzle-piece:after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 0%;
    left: 0px;
    bottom: 0px;
    transition: all 0.4s;
}

.game-board__result-block .puzzle-piece {
    animation-name: forward;
}

.game-board__source-block .puzzle-piece {
    animation-name: backward;
}

@keyframes forward {
    0% {
        top: 500px;
        scale: 0;
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
        scale: 1;
    }
}

@keyframes backward {
    0% {
        top: -500px;
        scale: 0;
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
        scale: 1;
    }
}

.puzzle-piece:hover {
    background: #e2e2e2;
}

.game-board__check-btn {
    padding: 5px;
    background: #173c64;
    margin-left: 5px;
}

.game-board__next-btn:disabled,
.game-board__check-btn:disabled {
    background: #000;
    cursor: auto;
}

.wrong-position:after {
    width: 100%;
    background: red;
}

.correct-position:after {
    width: 100%;
    background: green;
}
