@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('../sass/colorsVar.scss');

.game-board {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    &__result-block,
    &__source-block {
        display: flex;
        width: 100%;
        padding: 8px 30px;
        height: 250px;
    }

    &__result-block {
        flex-direction: column;
        height: 440px;
    }

    &__source-block {
        height: 50px;
        background: rgba(255, 255, 255, 0.3);
    }

    &__button-wrapper {
        padding: 10px 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.3);
    }

    &__puzzle-line {
        display: flex;
        width: 100%;

        &-child {
            position: relative;
            width: fit-content;
            height: 42px;
            min-width: 39px;
            transition: width 0.4s;
            &:hover .puzzle-piece {
                background: #e2e2e2;
            }
        }
    }
}

.game-board__puzzle-line.completed:hover .puzzle-piece {
    cursor: auto;
    background: #ffffff;
}
.puzzle-piece {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    background: #ffffff;
    font-family: 'Space Mono', monospace;
    font-size: clamp(8px, 2vw, 16px);
    letter-spacing: -0.7px;
    line-height: 40px;
    border: 1px solid #000000;
    cursor: pointer;
    transition:
        top 0.6s,
        scale 0.6s,
        opacity 0.6s;
    animation-name: show;
    animation-duration: 0.6s;
    user-select: none;
}

.puzzle-text {
    display: block;
    position: relative;
    text-indent: 12px;
    z-index: 1000;
}

.puzzle-piece:after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 0%;
    left: 0px;
    bottom: 0px;
    transition: all 0.4s;
}

.puzzle-piece-bg::before {
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 16px;
    left: -3.5px;
    border-radius: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #e2e2e2;
    bottom: 50%;
    transform: translateY(50%) rotate(270deg);
    border: 1px solid #5d5d5d;
    border-top: none;
}
.puzzle-piece-bg::after {
    content: '';
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background: #ffffff;
    bottom: 50%;
    right: -17px;
    transform: translateY(50%) rotate(270deg);
    z-index: 100;
    border: 1px solid #5d5d5d;
    border-top: none;
}

.puzzle-piece.last .puzzle-piece-bg::after {
    display: none;
}

.puzzle-piece.first .puzzle-piece-bg::before {
    display: none;
}

.game-board__result-block .puzzle-piece {
    animation-name: forward;
}

.game-board__source-block .puzzle-piece {
    animation-name: backward;
}

@media (hover: hover) and (pointer: fine) {
    .puzzle-piece-bg:hover::after,
    .game-board__puzzle-line-child:hover .puzzle-piece-bg:after {
        background: #e2e2e2;
    }
}

@keyframes forward {
    0% {
        top: 210px;
        scale: 0;
        opacity: 0.5;
    }

    100% {
        top: 0px;
        opacity: 1;
        scale: 1;
    }
}

@keyframes backward {
    0% {
        top: -210px;
        scale: 0;
        opacity: 0.5;
    }

    100% {
        top: 0px;
        opacity: 1;
        scale: 1;
    }
}

.game-board__check-btn,
.game-board__autocomplete-btn {
    min-width: 100px;
    padding: 0 10px;
    min-height: 40px;
    background: rgb(227, 126, 25);
}

.game-board__autocomplete-btn {
    background: rgb(170, 25, 227);

    &:disabled {
        background: #000000;
        cursor: auto;
    }
}

.game-board__check-btn[value='Continue'] {
    background-color: #198115;
}

.game-board__check-btn:disabled {
    background: #000;
    cursor: auto;
}

.wrong-position:after {
    width: 100%;
    background: red;
}

.correct-position:after {
    width: 100%;
    background: green;
}

.round-descr {
    padding: 5px 0;
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.3);
    -webkit-text-stroke: 0.5px black;
    opacity: 0.8;
}

#level-1 {
    background: var(--color-level-1);
}
#level-2 {
    background: var(--color-level-2);
}
#level-3 {
    background: var(--color-level-3);
}
#level-4 {
    background: var(--color-level-4);
}
#level-5 {
    background: var(--color-level-5);
}
#level-6 {
    color: var(--color-level-6);
}
