.garage {
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  &__cars-counter {
    margin-top: 15px;
    color: #064e15;
  }

  &__header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  &__race-control-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.car svg {
  height: 65px;
  width: auto;
  & g path {
    transform: scale(0.37);
  }
}

.car .target {
  fill: var(--car-color);
}

.color-selector {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.color-selector:disabled {
  cursor: auto;
}

.garage__item {
  display: grid;
  position: relative;
  padding: 10px;
  gap: 10px;
  grid-template-columns: 3fr 8fr;
  grid-template-areas:
    "A B"
    "C D";
  justify-items: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  background: #fbfbfb;
  filter: drop-shadow(0px 0px 2px);
}

.car {
  grid-area: B;
  position: relative;
  left: 0%;
  z-index: 10;
  filter: drop-shadow(1px 1px 3px var(--car-color));
}

.finish-line {
  grid-area: B;
  height: 65px;
  width: 41px;
  position: relative;
  left: calc(100% - 93px);
  background: url("../img/finish.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  filter: drop-shadow(2px 2px 2px);
}

.bg {
  grid-area: B;
  position: absolute;
  width: 100%;
  height: 75px;
  background: url("../img/bg.svg");
  z-index: 0;
  background-size: contain;
  background-position: center;
  border-radius: 6px;
  filter: blur(0.2px);
  border: 1px solid #000000;
}

.garage__item-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: A;
  gap: 5px;
}
.car-name-selector {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0px 2px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 0 2px;
}

.car-name-selector:focus {
  border-color: #064e15;
}

.garage__btn-wrapper {
  display: flex;
  gap: 5px;
  grid-area: C;
}

.delete-btn {
  grid-area: D;
  margin-right: 5px;
  display: block;
  justify-self: end;
}

.hidden {
  display: none;
}

.garage__creation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  gap: 5px;

  & .car-name-selector {
    width: 140px;
  }

  & .color-selector {
    width: 140px;
  }

  &-wrapper {
    display: flex;
    gap: 5px;
  }
}

.car-control-wrapper {
  display: flex;
  grid-area: D;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.driving {
  animation-name: car-driving;
  animation-duration: var(--velocity);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.stop-driving {
  animation-play-state: paused;
}

.broken {
  position: relative;
  transform: rotate(-90deg);
}

.broken:after {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
  left: 15px;
  top: 30px;
  background: url("../img/fire.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.start-race,
.stop-race {
  width: 80px;
}

.button.start-race,
.button.drive {
  background: #8e974a;
}
.button.edit-btn {
  background: #a7a3f2;
}

.button.stop-car,
.button.stop-race {
  background: #fa8ca3;
}

.button.create-btn {
  background: #8481c2;
}

@keyframes car-driving {
  0% {
    left: 0%;
  }

  100% {
    left: calc(100% - 70px);
  }
}
